body{
	background-image: url("Resources/colorful_dots_on_black.jpg");
	font-family: "Tahoma";
}
article{
	border-radius: 20px;
	background-color: rgba(230,230,230, 0.9); 
	margin: 10px 5px;
	padding: 15px;
	margin: 5px 25px 5px 25px;
}
body > header{
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	height: 100px;
	margin: -10px -10px 50px -10px;
	background: linear-gradient(to left,  #0000FF 0%,#0000FF 33%,#008000 33%,#008000 66%, #FF0000 66%,#FF0000 100%);
	background-color: #008000;
	color: #B1D800;
}
section{
	float: right;
	width: 75%;
}
div:first-letter{
	font-size: 3em;
	font-style: italic;
}
ul{
	list-style: none;
	padding-left: 10px;
}
nav ul li{
	padding: 5px 25px 5px 5px;
}
nav ul li a:before{
	content: url("Resources/CheckList.png");
}
nav ul li a:visited {
    color: grey;   
}
li > a{
	text-decoration: none;
	margin-left: 30px;
	color: black;
	font-size: 1.2em;
	margin: 0px 5px;
}
li:hover{
	background-color: red;
	border-radius: 10px;
}
article header {
    padding: 10px;
    margin: 0;
    border-radius: 10px;
    font-size: 1.5em;
}
aside{
	 float: left;
	background-color: rgba(230,230,230, 0.9); 
	display: inline-block;
	width: 20%;
    border-radius: 20px;
    padding: 10px;
    margin-right: 0;
      margin-left: 5px;
}
nav>header{
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.3em;
	text-indent: 20px;
}
li:first-child:hover {
    background: #FF0000;    
}

li:nth-child(2):hover {
    background: #FFA500;   
}

li:nth-child(3):hover {
    background: #FFFF00;   
}

li:nth-child(4):hover {
    background: #008000;   
}

li:nth-child(5):hover {
    background: #0000FF;   
}

li:nth-child(6):hover {
    background: #800080;   
}
#webColors{
	background-color: red;
	color: white;
}
#webSafeColors{
	background-color: #FFA500;
}
#RGB{
	background-color: #FFFF00;
}	
#RGBA{
	background-color: #008000;
	color: white;
}
#HSLHSV{
	background-color: #0000FF;
	color: white;

}
#lorem{
	background-color: #800080;
	color: white;
}
article a {
    font-style:italic;
    color: #808080;
}

div:first-line {
    font-style: italic;
}
span[lang='la'] {
    color: #0000FF;
    font-style: italic;
}
span[lang='la']:before {
    content: "\" ";
}

span[lang='la']:after {
    content: "\" ";
}