#wrapper{
    font-family: sans-serif;
    width: 500px;
    height:200px;
    border-top: 5px dotted yellow;
    border-right: 10px solid green;
    border-left: 6px dashed red;
    border-bottom: double 6px #0202F7;
    box-shadow: 15px 15px 5px  #3F3F3F;
}
#small{
    margin: auto ;
    border-radius: 50px;
    border: 2px solid red;
    box-shadow: 0 0 0 2px yellow, 0 0 0 4px green,0 0 0 6px blue;
    width: 450px;
    height: 100px;
}
h1{
    text-align: center;
    text-shadow: 10px 8px 15px grey;
}
h4{
    text-align: center;
    text-shadow: 15px 14px 15px grey;
}
textarea{
    resize: none;
    color: black;
    text-align: center;
    border: outset;
    background-color: #D8921A;
    width: 160px;
    height: 15px;
    overflow: hidden;
}
#right{
    left: 50px;
    position: relative;
    overflow: hidden;
}
#left{
    left: 50px;
    position: relative;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: black;
    font-family: sans-serif;
    font-size: 1.1em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
    font-family: sans-serif;
    font-size: 11pt;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    font-family: sans-serif;
    font-size: 11pt;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: black;
    font-family: sans-serif;
    font-size: 11pt;
}
#small-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.6);
    left: 410px;
    top: 130px;
    border: 3px dashed white;
    box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.6);
}
#large-circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.6);
    left: 435px;
    top: 85px;
    border: 3px dashed white;
    box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.6);
}
#text-balloon{
    border-radius: 50px;
    width: 100px;
    height: 50px;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.6);
    left: 490px;
    top: 43px;
    border: 3px dashed white;
    box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.6);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 6px;
}