body{
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
}
#wrapper{
    margin: 0 auto;
    width: 899px;
    background-color: white;
}
#head{
    width: 899px;
    height: 269px;
    background-image: url(resources/headerBackground.jpg);
}
#head > h1{
    font-size: 1.8em;
    color: white;
    padding-top: 197px;
    padding-left: 500px;
}
nav > ul{
    margin: 0;
    list-style-type: none;
}
nav{
    background-color: lightgrey;
}
nav > ul > li{
    background-color: lightgrey;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    border-left: 2px solid white;
}
nav > ul > li:nth-child(5) {
    border-right: 2px solid white;
}
#first{
    margin-left: -40px;
}
nav >  ul > li > a{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}
main > header, .articles {
    width: 60%;
    margin: 30px 10px 0 65px;
    border-radius: 15px;
    border: 2px solid #c7c7c7;
    background-color: #f9f9f9;
}
main > header > h1, aside h1 {
    text-transform: uppercase;
    color: #78bb26;
    padding-left: 20px;
    font-size: 1.5em;
}
main > header > p {
    padding: 0 20px;
}
.img-text {
    display: flex;
    padding-left: 20px;
}
article > h1 {
    padding-left: 20px;
    color: #78bb26;
}
article > div > img{
    height: 125px;
}
.text{
    padding: 0 20px;
    position: relative;
    bottom: 18px;
}
aside {
    float: right;
    width: 25%;
}
section {
    border-radius: 15px;
    background-color: #f9f9f9;
    border: 2px solid #c7c7c7;
    margin: 30px 30px 15px 0;
}
div > a , section.messages > a{
    color: #78bb26;
    padding: 0 15px;
    margin-bottom: 10px;
}
time {
    padding: 0 15px;
    font-weight: bold;
}
section > div {
    margin-bottom: 13px;
}
#wrapper > aside > section.messages > p:nth-child(4){
    margin-bottom: 20px;
}
section > div > p ,.messages > p{
    margin: 0;
    padding: 0 15px;
}
footer{
    background-color: #78bb26;
    height: 80px;
}
footer > p {
    font-size: 13px;
    padding-top: 25px;
    margin-left: 110px;
}
p > a{
    color: black;
}