
img {
    max-width: 230px;
    max-height: 230px
}

.img-wrap {
    background: #f8f8f8;
    height: 200px;
    margin: 0 auto 20px;
    padding: 10px;
    width: 200px
}

.img-thumbnail {
    background: 0 0;
    border: 0;
    height: auto;
    max-width: 100%
}

.img-thumbnails {
    margin: 0 auto 10px;
    width: 200px
}

.img-thumbnails .thumbnail {
    background: #f8f8f8;
    border: 0;
    margin-right: 25px;
    min-height: 50px
}

.img-thumbnails .thumbnail:last-child {
    margin-right: 0
}

.nav-pills {
    /*margin-bottom: 30px*/
}

.btn-primary, .btn-primary:focus, .nav-pills > li.active > a {
    background: #ac005f;
    border: 0
}

.btn-primary:hover, .nav-pills > li.active > a:hover {
    background: #ac005f
}

input.ng-invalid.ng-dirty {
    border: 2px solid red;
}